body{
    font-family: 'Montserrat', sans-serif;
    background: #F3F5FC;
}

header{
    margin: 10px 0 0 10px;
    display: inline-block;
}

/* css body*/
.caja{
    width: 90%;
}

.entradatexto{
    display: inline-block;
    margin: 3% 0 0 12%;
    height: 400px;
}

.entradatexto textarea{
    border: none;
    background: none;
    font-size: 22px;
}

.entradatexto ::placeholder{
    color: rgb(49, 49, 163);
    font-size: 22px;
}

.salidatexto{
 display: inline-block;
 position: absolute;
 top: 60px;
 right: 30px;
}

.salidatexto textarea{
font-size: 22px;
border: 2px solid white;
border-radius: 32px;
box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
padding: 30px 30px;
width: 80%;
}

.imagensaslida::placeholder{
    background-image: url(pics/1.png);
    background-repeat: no-repeat;
    background-position: bottom;
    width: 240px;
    height: 500px;
    color: blue;
    text-align:bottom;
    background-size: 100%;
    padding: 1px 19px;
}

.salidatexto textarea{
    docume
}

.copiar{
    border: 1px solid #0A3871;
    border-radius: 24px;
    padding: 24px;
    width: 60%;
    height: 67px;
    position: absolute;
    top: 560px;
    right: 19%;
}

.botones{
width: 60%;
margin: 10px 10px 10px 12%;
}

.botones p{
    font-size: 12px;
    margin-left: 19px;
}

p svg{
float: left;
margin-right: 7px;
}

.en{
    background: #0a3871;
    color: white;
    width: 40%;
    padding: 20px;
    border: 2px solid black;
    border-radius: 25px;
    font-size: 16px;
}

.des{
    background: #D8DFE8;
    color: rgb(49 49 142);
    width: 40%;
    padding: 20px;
    border: 2px solid #315aaf;
    border-radius: 25px;
    font-size: 16px;
    margin-left: 20px;
}